$w: #fff;
$r: #f0f;

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.login-form {
	margin-top: 50px;
	
	@media (min-width: 768px){
		text-align: right;
	}
}

.new-article-form-container,
.new-comment-form-container {
	max-width: 600px;
	margin: 0 auto;
}